.container {
  display: grid;
  grid-template-rows: 60px 5fr;
}

.container_1 {
  border-bottom: 1px solid #cccccc;
}

.container_2 {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mail {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 2fr 5fr 1fr;
  gap: 40px;
  padding: 8px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}

.mail:hover {
  background-color: #eaeaea;
  border: none;
  border-radius: 8px;
}

.mail_un_read {
  font-weight: bold;
}

.sender_name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: #1677ff;
  border-radius: 50%;
}
