.container {
  position: relative;
  display: grid;
  grid-template-areas:
    "header header"
    "navbar main";
  grid-template-rows: 60px 91vh;
  grid-template-columns: 200px 10fr;
}

.main {
  z-index: 1;
  grid-area: main;
}

.main_res {
  height: 100vh;
}

.compose_email {
  position: absolute;
  bottom: 0px;
}
